<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>634055113001-ga1k3quoicc9tucrrdiqbo09jt8nkfl6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.634055113001-ga1k3quoicc9tucrrdiqbo09jt8nkfl6</string>
	<key>API_KEY</key>
	<string>AIzaSyBE5dvXECLO7usHu4RNyJig-m4yD0StuOo</string>
	<key>GCM_SENDER_ID</key>
	<string>634055113001</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iosdecal.CH-final</string>
	<key>PROJECT_ID</key>
	<string>ch-final</string>
	<key>STORAGE_BUCKET</key>
	<string>ch-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:634055113001:ios:261d3aae04dc3542</string>
	<key>DATABASE_URL</key>
	<string>https://ch-final.firebaseio.com</string>
</dict>
</plist>